
.DS_Store
drop_tables_in_schema.py
*.pyc
/.idea
Vault-Direct-Data-Python-Scripts.iml
/vaults/*
/direct_data_testing_lr/*
/finance/*

/accelerators/databricks/accelerator_test.py
/accelerators/redshift/accelerator_test.py
/accelerators/snowflake/accelerator_test.py
/accelerators/sql_database/accelerator_test.py
/accelerators/databricks/resources/finance/
/accelerators/databricks/resources/hr/
/accelerators/databricks/resources/direct_data_testing_lr/
/accelerators/databricks/resources/hr_demo/
/accelerators/snowflake/resources/finance/
/accelerators/snowflake/resources/hr/
/accelerators/snowflake/resources/direct_data_testing_lr/
/accelerators/snowflake/resources/hr_demo/
/accelerators/redshift/resources/finance/
/accelerators/redshift/resources/hr/
/accelerators/redshift/resources/direct_data_testing_lr/
/accelerators/redshift/resources/hr_demo/
/accelerators/sql_database/resources/finance/
/accelerators/sql_database/resources/hr/
/accelerators/sql_database/resources/direct_data_testing_lr/
/accelerators/sql_database/resources/hr_demo/
/direct-data/
/hr/

/vaults
csv_to_parquet.py
